<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
  <%# required to produce the hero image on homepage %>
  <div class="hero-image">
      <div class="hero-text">
        <h1>Billiards Rumbler</h1>
        <p>For When Your Serious About Pool </p>
        <%# <button>Hire me</button> --> %>
      </div>
    </div> 