<main>
  <%# required to produce the hero image on homepage %>
  <div class="hero-image">
      <div class="hero-text">
        <%# <h1>Billiards Rumbler</h1>
        <p>For When Your Serious About Pool </p> %>
        <%# <button>Hire me</button> --> %>
      </div>
    </div> 
  </main>

  <section>
    <div class="container">
      <video src="https://www.youtube.com/watch?time_continue=9&v=6Es1Ycl3xUc"></video>
    </div>
  </section>
  <section>
    <div class="container">
    <p>Founded in 2008 the Megabucks Amateur Pool League (MAPL) is now considered one of the fastest growing singles-team combo coed leagues around New York City.</p>

    <p>With our unique handicap points system our members are able to compete on an equal playing field regardless of skill or ability. For example, a beginner-mid level player has the same advantage as an intermediate-advance player when playing in a match formulated via our ERS format. </p>

    <p>Members get credit for all games won during a match even if the outcome is not in their favor. As a result, they become more motivated to play and compete week after week. <br>

    <p>Believe it or not, our handicap system is so efficient that in our optional team play format, there are no limits in regards to handicap combinations.</p>

    <p>This coed singles-team league was created specifically for the amateur who loves to compete. It is aimed at the beginner and intermediate player and is structured in a way that adheres to that of a professional format. In short, we give the novice player the opportunity to compete on a professional stage.</p>

    <p>To be eligible for the MAPL you must be an amateur or intermediate player. APA members with skill levels 2 through 9 and BCAPL members with skill levels D through B+ are perfect for our current format. ALL PARTICIPANTS MUST BE AT LEAST 21 YEARS OR OLDER.</p>

    <p>All of our session finals are refereed by a well known professional billiard player. Some of our former and current celebrity referees include, WPBA Pro Billie Billing, BCA Pro George “Ginky” Sansouci, Sean Alaska Morgan and Zion Zvi.</p>

    <p>-~-~~-~~~-~~-~-</p>
    <p>For updates on more pool related content such as challenge matches, billiard product reviews, pool tips/lessons, instructional videos, live streams, upcoming tournaments and more, please CLICK ON THE FOLLOWING LINK to subscribe to our channel - https://www.youtube.com/megabuckstv?s...</p>
    <p>-~-~~-~~~-~~-~-</p></div>
  </section>
